.catByIdPage{
  padding-block: 1rem;

  h1{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .origin{
    font-weight: 500;
    line-height: 1.2;
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
  }

  .temperament{
    font-weight: 500;
    line-height: 1.2;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}